/* 
========================================
========== GENERAL PROPERTIES ==========
======================================== 
*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    min-width: 48px;
    min-height: 48px;
    margin: 8px;
}

ul {
    list-style-type: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

/* keyframes */
@keyframes hellLoose {
    25% {
        transform: rotateZ(45deg);
    }

    50% {
        transform: rotateZ(-45deg);
    }

    75% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/*
========================================
============ FONTS & COLORS ============
======================================== 
*/
:root {
    /* colors */
    --text-color-primary: black;
    --text-color-secondary: #515151;
    --background-color-primary: white;
    --background-color-secondary: #fefefe;
    /* font sizes */
    font-size: 10px;
    --overline: 1rem;
    --caption: 1.2rem;
    --button: 1.4rem;
    --body2: 1.4rem;
    --body1: 1.6rem;
    --subtitle2: 1.4rem;
    --subtitle1: 1.6rem;
}

@media all and (min-width: 900px) {
    :root {
        font-size: 14px;
    }
}

h1 {
    font-size: 7rem;
}

@media all and (min-width: 750px) {
    h1 {
        font-size: 9.6rem;
    }
}

h2,
h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}

/*
========================================
=============== STYLING ================
======================================== 
*/
body {
    background-color: var(--background-color-secondary);
    font-family: Roboto, sans-serif;
}

.main-wrapper {
    margin: 0 12px;
}

@media all and (min-width:750px) {
    .main-wrapper {
        margin: 0 24px;
    }
}

@media all and (min-width: 1200px) {
    .main-wrapper {
        margin: 0 auto;
        width: calc(100%-96px);
        max-width: 1200px;
    }
}

/* ----- navbar ----- */
.navbar {
    height: 56px;
    font-family: Roboto, sans-serif;
    font-size: var(--body2);
}

.navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar__list a {
    transition: all .2s ease-in;
}

.navbar__list a:hover,
.navbar__list a:focus,
.navbar__list a:active {
    text-decoration: underline;
}

.navbar__list li:nth-child(1) a:hover,
.navbar__list li:nth-child(1) a:focus,
.navbar__list li:nth-child(1) a:active {
    color: cyan;
}

.navbar__list li:nth-child(2) a:hover,
.navbar__list li:nth-child(2) a:focus,
.navbar__list li:nth-child(2) a:active {
    color: magenta;
}

.navbar__list li:nth-child(3) a:hover,
.navbar__list li:nth-child(3) a:focus,
.navbar__list li:nth-child(3) a:active {
    color: yellow;
}

.navbar__list li:nth-child(4) a:hover,
.navbar__list li:nth-child(4) a:focus,
.navbar__list li:nth-child(4) a:active {
    transform: scale(1.1);
}

/* ----- landing ----- */
.landing {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
}

.landing__image {
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url('images/IMG_20191102_112752.png');
    background-position: center;
    background-size: cover;
}

.mystery {
    position: fixed;
    font-size: 50px;
    font-weight: bold;
    right: 20px;
    bottom: 20px;
    animation: hellLoose 5s ease-in-out 5s infinite;
    cursor: pointer;
}

.mystery:active {
    animation-play-state: paused;
}

@media all and (min-height: 600px) and (min-width: 750px) {
    .landing__image {
        width: 500px;
        height: 450px;
    }
}

.landing h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    line-height: 100%;
    /* the shit below simulates an outside stroke */
    text-shadow:
        -5px -5px 0 var(--background-color-secondary),
        5px -5px 0 var(--background-color-secondary),
        -5px 5px 0 var(--background-color-secondary),
        5px 5px 0 var(--background-color-secondary);
}

@media all and (min-height: 800px) {
    .landing h1 {
        top: 0;
    }
}

.landing h2 {
    font-weight: normal;
}

.landing__social_media {
    display: flex;
    flex-flow: row nowrap;

}

@media all and (min-height: 550px) {
    .landing__social_media {
        position: absolute;
        bottom: 0;
    }
}

.landing__social_media li:not(:first-child) {
    margin-left: 8px;
}

.social_media_icons {
    width: 24px;
    height: 24px;
}

.social_media_link {
    transition: all .2s ease-in;
}

.social_media_link:focus,
.social_media_link:hover {
    opacity: .5;
    transform: scale(1.25);
}

.social_media_link:active {
    transform: scale(0.75);
}

/* ------------------------------------------ */
/* ---------- MAIN CONTENT STYLING ---------- */
/* ------------------------------------------ */
.main__section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 48px 0;
}

@media all and (min-width: 750px) {
    .main__section {
        margin: 96px 0;
    }
}

.main__section:nth-child(2n) {
    align-items: flex-end;
}

.main__section__title,
.main__section__content {
    background-color: var(--background-color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.main__section__title {
    max-width: 200px;
    width: 50%;
    padding: 12px 12px 1px;
    font-family: 'Permanent Marker', cursive;
    line-height: 100%;
}

.main__section__content {
    width: 100%;
}

.main__section:nth-child(2n) .main__section__title {
    text-align: right;
}

.main__section__content {
    padding: 12px;
    font-size: var(--body2);
    line-height: 155%;
}

/* About Me Section */
.main__about_me__text {
    text-align: justify;
}

.main__about_me__signature {
    margin-top: 12px;
    color: var(--text-color-secondary);
    font-weight: lighter;
    font-style: italic;
    text-align: right;
}

/* Skills Section */
.main__skills__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.main__skills__section {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--caption);
}

@media all and (min-width: 600px) {
    .main__skills__section {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}

.main__skills__section:nth-child(2) {
    position: relative;
}

.main__skills__section:nth-child(2):before,
.main__skills__section:nth-child(2):after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
    width: 0px;
    border-left: 1px solid var(--text-color-secondary);
}

.main__skills__section:nth-child(2):before {
    left: 0;
}

.main__skills__section:nth-child(2):after {
    right: 0;
}



.main__skills__section__description {
    text-align: center;
    color: var(--text-color-secondary);
}

.main__skills__section__description img {
    width: 48px;
}

.main__skills__technology img {
    width: 24px;
}

.main__skills__technology figure {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    color: var(--text-color-primary);
}

.main__skills__technology figcaption {
    margin-left: 8px;
}

@media all and (min-width: 900px) {
    .main__skills__section__description img {
        width: 64px;
    }

    .main__skills__technology img {
        width: 36px;
    }
}

/* Portfolio Section */

.main__portfolio__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__portfolio__content__link {
    position: relative;
    max-width: 400px;
    margin: 8px;
    transition: all .2s ease-in;
}

.main__portfolio__content__link:hover,
.main__portfolio__content__link:focus {
    cursor: pointer;
    opacity: .75;
    transform: scale(1.05);
}

.main__portfolio__content__link:active {
    transform: scale(0.95);
}

.main__portfolio__content__link::before {

    content: 'Siema';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    background-color: rgba(255, 255, 255, .75);
    padding: .2em 1em;
    border-radius: 5px;
    transition: all .5s ease-in;
    font-size: var(--overline);
    line-height: 120%;
    text-align: center;
}

.main__portfolio__content__link:nth-child(1)::before {
    content: 'Kancelaria Adwokacka, 2019';
}

.main__portfolio__content__link:nth-child(2)::before {
    content: 'Medycyna Estetyczna, 2018';
}

.main__portfolio__content__link:nth-child(3)::before {
    content: 'Lasery Medyczne, 2019';
}

.main__portfolio__content__link:nth-child(4)::before {
    content: 'Stowarzyszenie, T.B.A.';
}

.main__portfolio__content__link:hover::before,
.main__portfolio__content__link:focus::before {
    opacity: 1;
}

/* Contacts Section */
.main__contact__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact__name {
    font-size: var(--body1);
}

.contact__name>span:first-of-type {
    font-weight: bold;
}

.contact__name>span:last-of-type {
    color: var(--text-color-secondary);
    opacity: .5;
}

.main__contact__social {
    display: flex;
}

.main__contact__direct {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    font-weight: bold;
}

.main__contact__direct span {
    font-weight: normal;
}

.main__contact__direct a:hover span,
.main__contact__direct a:focus span {
    text-decoration: underline;
}

/* footer */
footer {
    font-size: var(--caption);
    color: var(--text-color-secondary);
    opacity: 0.75
}

.footer__copy {
    text-align: center;
    margin: .25em;
}